name: Build Windows EXE

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-windows-exe:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12.2'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install cx-Freeze opencv-python mediapipe numpy sounddevice vosk

    - name: Build EXEs
      run: |
        python setup.py build

    - name: Upload EXE Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: windows-exe-build
        path: build/exe.win-*/   # Adjust if needed
